<header class="header">
    <a class="logo" href="./index.html">
        
        <img src="assets/images/Captura_de_pantalla_2024-07-19_184334-removebg-preview1.png" alt="nevatihome">
    </a>        
    <div class="menu-hamburguesa">
        <img src="assets/images/Vector4.png" alt="">
    </div>
    <div class="menu">
        <div class="menu-items">
            <ul class="menu-items-principal">
                <li class="items">
                    <a class="items-menu" [routerLink]="['/sabanas']" routerLinkActive="router-link-active" >
                        SABANAS
                    </a>
                </li>
                <li class="items l">
                    <a class="items-menu" [routerLink]="['/colchas']" routerLinkActive="router-link-active" >
                        COLCHA ESPAÑOLA
                    </a>
                </li>
                <li class="items">
                    <a class="items-menu" [routerLink]="['/accesorios']" routerLinkActive="router-link-active" >
                        ACCESORIOS
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-accesibilidad">
            <div class="ayuda">
                <ul class="menu-ayuda">
                    <li>
                        <a class="comunicate comu" href="#">
                            COMUNICATE CON NOSOTROS
                        </a>
                    </li>
                    <li>
                        <a class="link-ayuda comu" href="#">
                            AYUDA
                        </a>
                    </li>
                    <li class="accesibilidad">
                        <a href="#">
                            <img src="assets/images/image5.png" alt="accesibilidad">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu-buscador">
                <form class="buscador">
                    <div class="buscar">
                        <input class="busca" type="text" placeholder="BUSCAR...">
                    </div>
                    <button class="lupa">
                        <img src="assets/images/image3.png" alt="buscar">
                    </button>
                </form>
                <ul class="menu-usuario desplega">
                    <li class="me-gusta">
                        <a href="#">
                            <img src="assets/images/fi-rs-heart.png" alt="">
                        </a>
                    </li>
                    <li class="usuario">
                        <a [routerLink]="['login']" routerLinkActive="Active" >
                            <img src="assets/images/fi-rs-user.png" alt="">
                        </a>
                    </li>
                    <li class="carro">
                        <app-cart />
                    </li>
                    <li class="navbar ">
                        <input type="checkbox" id="toggle-main-menu">
                        <label for="toggle-main-menu" class="main-menu__container main-menu__open">
                            <img src="assets/images/support_807380 1.png" alt="">
                        </label>
                        <label for="toggle-main-menu" class="main-menu__container main-menu__close">
                            <img src="assets/images/support_807380 1.png" alt="">
                        </label>
                        <label for="toggle-main-menu" class="background">
                            <span></span>
                        </label>

                        <ul class="main-menu main-menu__container">
                            <!-- <li class="menu-item">
                                <a [routerLink]="['/product/new']" routerLinkActive="Active" >REGISTER PRODUCT</a>
                            </li>
                            <li class="menu-item">
                                <a [routerLink]="['/register']" routerLinkActive="Active" >REGISTER USERS</a>
                            </li> -->
                            <li class="menu-item">
                                <a [routerLink]="['/product/list']" routerLinkActive="Active" >PRODUCT LIST</a>
                            </li>
                            <li class="menu-item">
                                <a [routerLink]="['/user/view']" routerLinkActive="Active">USERS LIST</a>
                            </li>
                        </ul>               
                    </li>                                                  
                </ul>
            </div>
        </div>
    </div>

</header>