<main class="main">
    <section class="nuestras-sabanas">
        <div class="text-box-sab">
            <div class="Infography-sab">
            <article class="title-sab">ACCESORIOS</article>
            </div>
        </div>
    </section>
    <section>
        <div class="content-4-sab">
            <div class="sabanas-titulo-sab">
                ACCESORIOS NEVATI HOME
            </div>
        </div>
        <div class="productos-cat">
            <div class="productos-1-cat">
                <a class="producto-cat" href="#">
                    <div>
                        <img class="img-producto-cat" src="assets/images/triangulosgrises.png.jpeg" alt="">
                    </div>
                    <div>
                        <div class="title-producto-cat">
                            <p class="descrip-producto-cat">TRIANGULOS GRICES FONDO BLANCO</p>
                            <div>
                                <img src="assets/images/fi-rs-heart.png" alt="">
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="precio-cat">00.0$</p>
                            </div>
                            <div class="envio-cat">ENVIO GRATIS</div>
                        </div>
                    </div>
                </a>
                <a class="producto-cat" href="#">
                    <div>
                        <img class="img-producto-cat" src="assets/images/circulos.png.jpeg" alt="">
                    </div>
                    <div>
                        <div class="title-producto-cat">
                            <p class="descrip-producto-cat">CIRCULOS GRICES-DORADOS FONDO BLANCO</p>
                            <div>
                                <img src="assets/images/corazon.png.jpeg" alt="">
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="precio-cat">00.0$</p>
                            </div>
                            <div class="envio-cat">ENVIO GRATIS</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

</main>