<main class="main">
    <form [formGroup]="productEditForm" (ngSubmit)="onSubmit()">
   
        <div class="register-container">
            <a routerLink="/dashboard" routerLinkActive="activo">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
            </a>
            <h1 class="register">Editar producto</h1>
            <div class="field">
                <label for="name-product" >Name product*</label> 
                <input placeholder="Ingrese el nombre del producto" type="text" formControlName="name" id="name-product" />
                <div class="error">
                    <div *ngIf="productEditForm.get( 'name' )?.invalid && ( productEditForm.get( 'name' )?.dirty || productEditForm.get( 'name' )?.touched )">
                        <small *ngIf="productEditForm.get( 'name' )?.errors?.[ 'required' ]">
                            El valor del campo nombre es obligatorio
                        </small>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="description">Description</label>
                <textarea placeholder="Ingrese la descripción del producto" formControlName="description" id="description"></textarea>
            </div>
            <div class="field">
                <label for="price">Price*</label>
                <input formControlName="price" min="0" max="10000000" type="number" id="price" />
                <div class="error">
                    <div *ngIf="productEditForm.get( 'price' )?.invalid && ( productEditForm.get( 'price' )?.dirty || productEditForm.get( 'price' )?.touched )">
                        <small *ngIf="productEditForm.get( 'price' )?.errors?.[ 'required' ]">
                            El  valor del campo precio es obligatorio
                        </small>
                        <small *ngIf="productEditForm.get( 'price' )?.errors?.[ 'min' ]">
                            El  valor del campo precio no debe ser negativo
                        </small>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="quantity">Quantity*</label>
                <input formControlName="quantity" min="1" max="100" type="number" id="quantity" />
                <div class="error">
                    <div *ngIf="productEditForm.get( 'quantity' )?.invalid && ( productEditForm.get( 'quantity' )?.dirty || productEditForm.get( 'quantity' )?.touched )">
                        <small *ngIf="productEditForm.get( 'quantity' )?.errors?.[ 'required' ]">
                            El  valor del campo precio es obligatorio
                        </small>
                        <small *ngIf="productEditForm.get( 'quantity' )?.errors?.[ 'min' ]">
                            El  valor del campo precio no debe ser negativo
                        </small>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="category">Category*</label>
                <select formControlName="category" id="category" placeholder="Ingrese la categoria del producto">
                    <option value="tecnology">Tecnology</option>
                    <option value="vegetables">Vegetables</option>
                    <option value="fruits">Fruits</option>
                    <option value="home">Home</option>
                    <option value="pharmacy">Pharmacy</option>
                </select>
                <div class="error">
                    <div *ngIf="productEditForm.get( 'category' )?.invalid && ( productEditForm.get( 'category' )?.dirty || productEditForm.get( 'category' )?.touched )">
                        <small *ngIf="productEditForm.get( 'category' )?.errors?.[ 'required' ]">
                            El  valor del campo categoria es obligatorio
                        </small>
                    </div>
                </div>
            </div>
            <div class="field"> 
                <label for="">Image Product</label>
                <input formControlName="urlImage" type="text" id="image"/>
            </div>
            <div class="field">
                <button class="btn-register-submit" type="submit" [disabled]="productEditForm.invalid" >Editar</button>
            </div>
        </div>
    </form>
</main>