<main class="main">
    <section class="nuestras-sabanas">
        <div class="text-box-sab">
            <div class="Infography-sab">
            <article class="title-sab">COLCHAS ESPAÑOLAS</article>
            </div>
        </div>
    </section>
    <section>
        <div class="content-4-sab">
            <div class="sabanas-titulo-sab">
                COLCHAS GÉNERO ALEGRO
            </div>
            <div class="sabanas-subtitulo-sab">
                Elaboradas en genero Alegro: Calidad premium en 200 hilos
            </div>
        </div>
        <div class="productos-cat">
            
        </div>
    </section>

</main>