<div class="btn-cart1" id="btn-cart1">
    <input type="checkbox" id="cart-toggle1" class="cart-toggle" />
    <label for="cart-toggle1" class="btn btn-success cart-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-cart-fill" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
        <p class="cart-number">{{ cartProducts.length }}</p>
    </label> 
    <label for="cart-toggle1" class="background"></label>
    <div class="cart-panel" [class.active]="isCartOpen">
        <label for="cart-toggle1" class="btn-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </label>
        <h2>Tu cesta de la compra</h2>
        <div *ngFor="let item of cartProducts" class="cart-item">
            <img [src]="item.info?.urlImage" alt="{{ item.info?.name }}" class="cart-item-image" />
            <p>{{ item.info?.name }} - {{ item.order }} x {{ item.info?.price | currency }}</p>
            <button class="btn-remove" *ngIf="item.info" (click)="removeFromCart(item.info)">Eliminar</button>
        </div>
        <p>Total: {{ getTotal() | currency }}</p>
        <button (click)="finalizePurchase()" class="btn-remove">Finalizar Compra</button>
    </div>  
</div>

<div class="btn-cart">
    <button class="btn btn-success cart-icon" (click)="toggleCart()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-cart-fill" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
        <p class="cart-number">{{ cartProducts.length }}</p>
    </button>

    <div class="cart-panel" [class.active]="isCartOpen">
        <button class="btn-close" (click)="toggleCart()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>
        <h2>Tu cesta de la compra</h2>
        <div *ngFor="let item of cartProducts" class="cart-item">
            <img [src]="item.info?.urlImage" alt="{{ item.info?.name }}" class="cart-item-image" />
            <p>{{ item.info?.name }} - {{ item.order }} x {{ item.info?.price | currency }}</p>
            <button class="btn-remove" *ngIf="item.info" (click)="removeFromCart(item.info)">Eliminar</button>
        </div>
        <p>Total: {{ getTotal() | currency }}</p>
        <button (click)="finalizePurchase()" class="btn-remove">Finalizar Compra</button>
    </div>
</div>




  