.btn-cart1 {
    display: none;
}

.btn-cart {
    margin-left: 2rem;
    cursor: pointer;
}

.cart-icon {
    color: black;
}

.bi-cart-fill {
    fill: currentColor; 
    transition: fill 1s ease; 
}

.cart-panel {
    position: fixed;
    top: 0;
    right: -100%; /* Oculto por defecto */
    width: 30rem;
    height: 100%;
    background-color: white;
    box-shadow: -.2rem 0 .5rem rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    padding: 2rem;
    z-index: 1000;
}

.cart-panel.active {
    right: 0; /* Muestra el panel */
}

.btn-remove {
    padding: 0.75rem 1.5rem; 
    margin: 1rem 0 0 1rem; 
    font-size: 1rem; 
    color: #fff; 
    background: linear-gradient(#CD1023, #ca4250d5);
    text-decoration: none; 
    border-radius: 0.4rem; 
    border: none; 
    cursor: pointer; 
    transition: background 0.3s ease; 
}

.btn-remove:hover {
    background: linear-gradient(#ca4250d5, #CD1023); 
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid black; 
    border-radius: 0.4rem; 
    padding: 1rem;
    margin: 1rem 0; 
}

.cart-item-image {
    width: 5rem; 
    height: 5rem; 
    border-radius: 0.4rem; 
    margin-right: 1rem; 
}

.btn-success {
    fill: currentColor;
    width: 6rem; 
    height: 4rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 1rem; 
    position: relative; 
    border: none; 
    background: white;
}

.btn-success img {
    width: 2.4rem; 
    height: 2.4rem; 
}

.btn:hover {
    background: linear-gradient(#CD1023, #ca4250d5);
    transition: 1s;   
}

.btn:hover .bi-cart-fill {
    fill: white; 
}

.cart-number {
    position: absolute;
    top: -1rem; 
    right: -1rem; 
    background-color: white;
    color: black; 
    border-radius: 50%;
    width: 2rem; 
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem; 
    font-weight: bold;
    z-index: 10; 
}
.btn-close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: transform 0.2s ease;
}

.btn-close:hover {
    transform: scale(1.1);
}

.btn-close svg {
    width: 24px;
    height: 24px;
    color: #CD1023;
    transition: color 0.2s ease;
}

.btn-close:hover svg {
    color: #ca4250;
}
