<main class="main">
    <section class="nosotros">
        <div class="text-box">
            <div class="Infography">
            <article class="title">CONOCE NUESTROS PRODUCTOS</article>
            <p class="content content-1">Descubre la exquisitez y el confort de nuestras sabanas NEVATIHOME, fabricadas con filamentos de textura avanzada y calidad, alegro con 200 hilos y Beta con 180 hilos. Son el resultado de colaboraciones con laboratorios asociados a <b>TOMKER</b>, donde se aplican altos estándares de control en calidad. </p>
            <div class="content-2">
                <p class="content">Descubre la exquisitez y el confort de</p>
                <button class="content-3">ver mas...</button>
            </div>
            </div>
        </div>
    </section>
    <section class="black-friday">
        <div class="black-friday-1">
            <div class="black-friday-text">
                <p class="black-friday-title">BLACK FRIDAY</p>
                <p class="black-friday-p">GRANDES DESCUENTOS</p>
            </div>
            <div class="black-friday-boton">
                <button class="black-friday-compar" [routerLink]="['/ofertas']" routerLinkActive="router-link-active" >
                    +COMPRAR AHORA 
                </button>
            </div>
        </div>
    </section>
    <section>
        <div class="productos-titulo">
            <p>NUESTROS PRODUCTOS</p>
        </div>
        <div class="productos">
            <div class="productos-1">
                <a class="producto" href="#">
                    <div>
                        <img class="img-producto" src="assets/images/triangulosgrises.png.jpeg" alt="">
                    </div>
                    <div>
                        <div class="title-producto">
                            <p class="descrip-producto">TRIANGULOS GRICES FONDO BLANCO</p>
                            <div>
                                <img src="assets/images/corazon.png.jpeg" alt="">
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="precio">75.000$</p>
                            </div>
                            <div class="envio">ENVIO GRATIS</div>
                        </div>
                    </div>
                </a>
                <a class="producto" href="#">
                    <div>
                        <img class="img-producto" src="assets/images/circulos.png.jpeg" alt="">
                    </div>
                    <div>
                        <div class="title-producto">
                            <p class="descrip-producto">CIRCULOS GRICES-DORADOS FONDO BLANCO</p>
                            <div>
                                <img src="assets/images/corazon.png.jpeg" alt="">
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="precio">75.000$</p>
                            </div>
                            <div class="envio">ENVIO GRATIS</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="productos-2">
                <a class="producto" href="#">
                    <div>
                        <img class="img-producto" src="assets/images/paris.png.jpeg" alt="">
                    </div>
                    <div>
                        <div class="title-producto">
                            <p class="descrip-producto">PARIS FONDO BLANCO</p>
                            <div>
                                <img src="assets/images/corazon.png.jpeg" alt="">
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="precio">75.000$</p>
                            </div>
                            <div class="envio">ENVIO GRATIS</div>
                        </div>
                    </div>
                </a>
                <a class="producto" href="./producto.html">
                    <div>
                        <img class="img-producto" src="assets/images/mosaico.png.jpeg" alt="">
                    </div>
                    <div>
                        <div class="title-producto">
                            <p class="descrip-producto">MOSAICOS ROJOS-GRICES FONDO BLANCO</p>
                            <div>
                                <img src="assets/images/corazon.png.jpeg" alt="">
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="precio">00.0$</p>
                            </div>
                            <div class="envio">ENVIO GRATIS</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section>
        <div class="pintas">
            <div>
                <p class="titulo-pintas">NUESTRAS PINTAS</p>
                <p class="descrip-pintas">DIFENTES DISEÑOS Y TELAS CON MISMA CALIDAD</p>
            </div>
        </div>
        <div class="slider" x-data="{start: true, end: false}">
            <div class="slider__content" x-ref="slider" x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;">
                <div class="slider__item ancho">
                    <img class="slider__image" src="assets/images/Capturadepantalla2024-08-06212504.png" alt="Image" />
                </div>
                <div class="slider__item">
                    <img class="slider__image" src="assets/images/Capturadepantalla202408-06212539.png" alt="Image" />
                </div>
                <div class="slider__item">
                    <img class="slider__image" src="assets/images/Capturadepantalla2024-08-06212608.png" alt="Image" />
                </div>
                <div class="slider__item">
                    <img class="slider__image" src="assets/images/Capturadepantalla2024-08-06212626.png" alt="Image" />
                </div>
                <div class="slider__item">
                    <img class="slider__image" src="assets/images/Capturadepantalla2024-08-06212645.png" alt="Image" />
                </div>
                <div class="slider__item">
                    <img class="slider__image" src="assets/images/Capturadepantalla2024-08-06212659.png" alt="Image" />
                </div>
                <div class="slider__item">
                    <img class="slider__image" src="assets/images/Capturadepantalla2024-08-06212801.png" alt="Image" />
                </div>
                <div class="slider__item">
                    <img class="slider__image" src="assets/images/Capturadepantalla2024-08-06212823.png" alt="Image" />
                </div>
                <div class="slider__item">
                    <img class="slider__image" src="assets/images/Capturadepantalla2024-08-06212838.png" alt="Image" />
                </div>
                <div class="slider__item">
                    <img class="slider__image" src="assets/images/Capturadepantalla2024-08-06212900.png" alt="Image" />
                </div>
            </div>
        </div>
    </section>
</main>