<main class="main">
    <section class="nuestras-sabanas">
        <div class="text-box-sab">
            <div class="Infography-sab">
            <article class="title-sab">SABANAS NEVATI HOME</article>
            <p class="content content-1-sab">Cada juego de sábanas se distingue por procesos únicos que aseguran un toque de lujo y confort, ideal para un descanso placentero y prolongado  </p>
            <div class="content-2-sab">
                <p class="content-sab">Cada juego de sábanas se distingue por</p>
                <button class="content-3-sab">ver mas...</button>
            </div>
            </div>
        </div>
    </section>
    <section>
        <div class="content-4-sab">
            <div class="sabanas-titulo-sab">
                SÁBANAS GÉNERO ALEGRO
            </div>
            <div class="sabanas-subtitulo-sab">
                Elaboradas en genero Alegro: Calidad premium en 200 hilos
            </div>
        </div>
        <div class="cards">
            @for (product of products; track $index) {
                <app-cards [productValue]="product" ></app-cards>
            }
        </div>
    </section>

</main>